{% if data.has_previous %}
{% if price %}
<a href="{% url 'search_price' query min max data.previous_page_number %}">{{data.previous_page_number}}</a>
{% else %}
<a href="{% url 'search' query data.previous_page_number %}">{{data.previous_page_number}}</a>
{% endif %}
{% endif %}
<span>{{data.number}}</span>
{% if data.has_next %}
{% if price %}
<a href="{% url 'search_price' query min max data.next_page_number %}">{{data.next_page_number}}</a>
{% else %}
<a href="{% url 'search' query data.next_page_number %}">{{data.next_page_number}}</a>
{% endif %}
{% endif %}